.calculator {
    background: linear-gradient( to bottom right, rgb(95, 93, 142) 0%, rgb(19, 19, 19) 90%);
    margin: 0 auto;
    width: 100%;
    max-width: 420px;}

.button {
    background: rgb(62, 64, 69);
    cursor: pointer;
    margin: 10px 10px;
    width: 50px;
    padding-top: .1rem;
    text-align: center;
    outline-offset: 4px;
    border-radius: 5px;}

.clr-btn, .equal-btn {
    background: rgb(90, 62, 9);
    text-align: center;
    margin: 10px 10px 40px 10px;
    padding-top: .1rem;
    outline-offset: 4px;
    width: 121px;
    height: 50px;
    border-radius: 5px;}

.del-btn {
    background: rgb(135, 6, 4);}

.front{
    background: rgb(152, 151, 150);
    color: black;
    display: block;
    width: 49px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    transform: translateX(-8px) translateY(-5px);}

.front-long {
    display: block;
    font-size: medium;
    font-weight: bold;
    background: rgb(190, 112, 40);
    border-radius: 5px;
    width: 121px;
    padding-top: .7rem;
    padding-bottom: .7rem;
    transform: translateX(-8px) translateY(-5px);}

.del-front {
    background: #ac2323;
}

.button:hover .front {
    transform: translateX(-8px) translateY(-7px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }

.button:active .front {
    transform:  translateX(-5px) translateY(-1px);
    transition: transform 34ms;
  }

  .button:focus:not(:focus-visible) {
    outline: none;}  

.row {
    display: table;
    margin: 10px auto;}

.top-row {
    margin-top: 2rem;}

.display {
    font-size: large;
    font-weight: 700;
    text-align: right;
    display: block;
    background-color: rgb(41, 40, 40);
    color: seashell;
    border: 1px solid black;
    border-radius: 3px;
    padding: 4%;
    margin-top: 2rem;
    margin-right: 1rem;
    height: 2rem;
    width: 15rem;
}


